h1 {
  color: pink;
}

.important {
  color: red;
  font-style: italic;
}

.list {
  float: center;
  width: 30px;
  font-style: bold;
  background-color: gray;
}

.pop {
  font-size: 20pt;
  font-style: bold;
}
